<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>Some website</title>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
    
</html>